[submodule "deps/miniz"]
	path = deps/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "deps/yyjson"]
	path = deps/yyjson
	url = https://github.com/ibireme/yyjson.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
